:root {
  --bg: #0f172a;
  --text: white;
  --card: #1e293b;
}

.light {
  --bg: #ffffff;
  --text: #000000;
  --card: #f1f5f9;
}

body {
  margin: 0;
  font-family: Arial;
  background: var(--bg);
  color: var(--text);
  transition: 0.3s;
}

/* Navbar */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: var(--card);
  position: sticky;
  top: 0;
}

.nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav a {
  color: var(--text);
  text-decoration: none;
}

/* Hero */
.hero {
  text-align: center;
  padding: 120px 20px;
}

.hero h1 {
  font-size: 50px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #3b82f6;
  color: white;
  text-decoration: none;
}

/* Sections */
section {
  padding: 60px 40px;
}

/* Skills */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
}

.grid div {
  background: var(--card);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

/* Projects */
.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: var(--card);
  padding: 20px;
  flex: 1;
  border-radius: 10px;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
}